Trimetric.LifePartner.Web/Web References/localhost/MatrimonyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SumOfNums">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FirstNumber" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="SecondNumber" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SumOfNumsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SumOfNumsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SumOfFloats">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FirstNumber" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="SecondNumber" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SumOfFloatsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SumOfFloatsResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="SumOfNumsSoapIn">
    <wsdl:part name="parameters" element="tns:SumOfNums" />
  </wsdl:message>
  <wsdl:message name="SumOfNumsSoapOut">
    <wsdl:part name="parameters" element="tns:SumOfNumsResponse" />
  </wsdl:message>
  <wsdl:message name="SumOfFloatsSoapIn">
    <wsdl:part name="parameters" element="tns:SumOfFloats" />
  </wsdl:message>
  <wsdl:message name="SumOfFloatsSoapOut">
    <wsdl:part name="parameters" element="tns:SumOfFloatsResponse" />
  </wsdl:message>
  <wsdl:portType name="MatrimonyServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SumOfNums">
      <wsdl:input message="tns:SumOfNumsSoapIn" />
      <wsdl:output message="tns:SumOfNumsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SumOfNums">
      <wsdl:input name="SumOfFloats" message="tns:SumOfFloatsSoapIn" />
      <wsdl:output name="SumOfFloats" message="tns:SumOfFloatsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MatrimonyServiceSoap" type="tns:MatrimonyServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SumOfNums">
      <soap:operation soapAction="http://tempuri.org/SumOfNums" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SumOfNums">
      <soap:operation soapAction="http://tempuri.org/SumOfFloats" style="document" />
      <wsdl:input name="SumOfFloats">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SumOfFloats">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MatrimonyServiceSoap12" type="tns:MatrimonyServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SumOfNums">
      <soap12:operation soapAction="http://tempuri.org/SumOfNums" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SumOfNums">
      <soap12:operation soapAction="http://tempuri.org/SumOfFloats" style="document" />
      <wsdl:input name="SumOfFloats">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SumOfFloats">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MatrimonyService">
    <wsdl:port name="MatrimonyServiceSoap" binding="tns:MatrimonyServiceSoap">
      <soap:address location="https://localhost:44306/MatrimonyService.asmx" />
    </wsdl:port>
    <wsdl:port name="MatrimonyServiceSoap12" binding="tns:MatrimonyServiceSoap12">
      <soap12:address location="https://localhost:44306/MatrimonyService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>